@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.inputs {
  background-color: #eaeaea;
  outline: none;
  border-radius: 7px;
  color: #7e7e7e;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  padding: 1em;
  width: 100%;
}
.inputs:focus {
  outline-color: #3e64ff;
  outline-radius: 7px;
}
.btn {
  border-radius: 7px;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 16px;
  border: 0 none;
  outline: none;
  transition: 1s all;
}
.btn:active {
  transform: scale(0.8);
}
.btn-green {
  background: #4dd599;
  color: #fff;
}
.login {
  background-color: #3e64ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__login {
  border-radius: 7px;
  background-color: #fff;
  padding: 2em;
  text-align: center;
  width: 20em;
}
.container__login h1 {
  margin-bottom: 2em;
}
.container__form input {
  display: block;
  margin-bottom: 2em;
}
.container__form button {
  width: 100%;
}
