color_azul  = #3E64FF
color_verde = #4DD599
color_amarillo = #FFDC34
color_gris = #EAEAEA
color_gris_solido = #7E7E7E
size__titles = 18px
margin__size = .8em
size__btn = 16px
padding__size = .5em
padding__btn = 6px 12px
border__radius = 7px