.login
    background-color: color_azul
    height 100vh
    display: flex
    align-items: center
    justify-content: center
    
.container__login
    border-radius: border__radius
    background-color: white
    padding: 2em
    text-align: center
    width: 20em
    & h1
        margin-bottom: 2em
.container__form
    & input 
        display: block
        margin-bottom: 2em
    & button
        width: 100%